# cat /etc/systemd/system/nezha-agent.service 
[Unit]
Description=哪吒探针监控端
ConditionFileIsExecutable=/opt/nezha/agent/nezha-agent


[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/opt/nezha/agent/nezha-agent "-s" "202.81.232.133:5555" "-p" "KRM1mM7LfcCc5sbCdj"

WorkingDirectory=/root





Restart=always

RestartSec=120
EnvironmentFile=-/etc/sysconfig/nezha-agent

[Install]
WantedBy=multi-user.target
